<div class="ticket-booking-container">
    <h2>Book Tickets</h2>
  
    <form [formGroup]="ticketBookingForm" (ngSubmit)="onSubmit()">  
      <div>
        <label for="email">Email</label>
        <input id="email" formControlName="email" type="email" placeholder="Enter Email">
      </div>
  
      <div>
        <label for="match">Match </label>
        <select formControlName="match">
            <option value="">Select a Match</option>
            <option *ngFor="let match of matches" [ngValue]="match">
              {{ match.firstTeam.teamName }} vs {{ match.secondTeam.teamName }}
            </option>
        </select>
      </div>
  
      <div>
        <label for="numberOfTickets">Number of Tickets</label>
        <input id="numberOfTickets" formControlName="numberOfTickets" type="number" placeholder="Enter Number of Tickets">
      </div>
  
      <button type="submit" [disabled]="ticketBookingForm.invalid">Book Tickets</button>
      <a routerLink="/ipl" class="task-list" class="task-list">Dashboard</a>
    </form>
  
    <div *ngIf="successMessage" class="success">
      <p>{{ successMessage }}</p>
    </div>
  
    <div *ngIf="errorMessage" class="error">
      <p>{{ errorMessage }}</p>
    </div>
  </div>
  