<div>
    <h2>Cricketer Details</h2>
    <ul>
      <li><strong>Cricketer ID:</strong> {{ cricketer.cricketerId }}</li>
      <li><strong>Team ID:</strong> {{ cricketer.teamId }}</li>
      <li><strong>Cricketer Name:</strong> {{ cricketer.cricketerName }}</li>
      <li><strong>Age:</strong> {{ cricketer.age }}</li>
      <li><strong>Nationality:</strong> {{ cricketer.nationality }}</li>
      <li><strong>Experience:</strong> {{ cricketer.experience }}</li>
      <li><strong>Role:</strong> {{ cricketer.role }}</li>
      <li><strong>Total Runs:</strong> {{ cricketer.totalRuns }}</li>
      <li><strong>Total Wickets:</strong> {{ cricketer.totalWickets }}</li>
    </ul>
</div>